*{
  /* background-image: url(https://media.istockphoto.com/id/1451792814/video/4k-black-luxury-background-with-golden-dynamic-spots-diagonal-stripes-shimmers-bokeh-dots.jpg?s=640x640&k=20&c=YlBTrEOII8zcXJnhkUNpy6BtUUb6iuR4N9N0224Zm1w=); */
  font-family: "Alegreya Sans", sans-serif;
  
}
.title{
  font-family: "Jacquard 24", system-ui;
}
.nav1{
  margin-top: 15%;
  font-size: 20px;
    cursor: pointer;

}
.navleft{
  border-right: 1px solid;
  line-height: 50px;
}
.navleft2{
  border-right: 1px solid;
  line-height: 50px;
}
.pic{
  padding-left: 10px;
}
.ic1{
  margin-right: 25px;
} 
.active{
  display: none;
}
.addp1{
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  background-color: rgba(62, 61, 61, 0.137);
  text-align: start;
}
.addp2{
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.snd{
  rotate: -45deg;
}
.cmt{
  /* margin: auto; */
  margin-left: 25px;
  color: white;
  border: none;
}
.cmt1{
  margin-top: 10px;
}
.icn2{
  margin-top: 35px;
}
.brd2{
  border: 1px solid white;
  padding: 15px;
}
.adfrnd{
  height: 100vh;
  margin-left: 71%;
  border-left: 1px solid;
  padding-left: 150px;
}
.frndlist{
  height: 500px;
  overflow-y: auto;
}
.frndlist::-webkit-scrollbar {
  display: none;
}
.btm{
  margin-top: 30%;
}
.box{
  border-radius: 20px;
}
.box2{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
.post{
  margin-left: -60px;
  cursor: pointer;
}
.mdl{
  margin-top: 50px;
  background-color: rgb(16, 16, 16);
  margin-left: 10%;
}
.cmttxt{
  margin-top: 64%;
}
.fullsearchbdy{
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
}
.users{
  overflow-y: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.srch{
  position: fixed;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  z-index: 45;
  margin-top: -50px;
  margin-left: -75px;
  padding-left: 75px;
  padding-top: 80px;
}
.li1{
  text-decoration: none;
  color: white;
}
.logot{
  cursor: pointer;
}
.friendsp{
  margin-left: -150px;
}
.friendspage{
  overflow-x: hidden;
}
.profile{
  overflow-x: hidden;

}
.bkmrkprofile{
  overflow-x: hidden;
  background-color: black;
}
.po1{
  overflow-y: hidden;
  width: 20%;
  height: 280px;
  margin-right: 0.5rem;
}
.li2{
  width: 100%;
  text-decoration: none;
  color: white;
  margin-bottom: 50px;
  margin-left: 15px;
}
.l10{
  width: 100%;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  margin-left: 15px;
}
.li3{
  margin-bottom: 50px;
  margin-left: 15px;
}
.nameu{
  line-height: 2px;
}
.btm2{
  margin-top: 5%;
}
.srch2{
  position: fixed;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  z-index: 45;
  margin-top: -100px;
  margin-left: -25px;
  padding-left: 15px;
  padding-top: 80px;
}
.srch3{
  position: fixed;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  z-index: 45;
  margin-top: 0px;
  margin-left: -25px;
  padding-left: 15px;
  padding-top: 0px;
}
.cmt1{
  margin-left: -2px;
}
.msgpart{
  overflow-y: auto;
}
.active1{
  color:#ffffff;
}
.active2{
  color:#df1e1e;
}

.fullcomment{
  overflow-y: scroll;
  height: 450px;
}
.fullcomment::-webkit-scrollbar{
  display: none;
}
.p1:hover{
color: black;
}
.homepost{
  margin-left: 400px;
}
.favouritepage{
  margin-left: 450px;
}
.cardstyle{
  width: 80%;
  padding-bottom: 40px;
}
.navbarhome{
  display: none;
}
.navbarhomesrchpg{
  display: none;
}
.fullbody{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.userinfobookmaark{
  width: 75%;
}
.postfavpage{
  margin-left: -140px;
}
.navbtm{
  display: none;
}
.proileinfo{
  height: 150px;
}
.favhead{
 margin-left: -80px;
}
.favimg{
  width: 20%;
  height: 280px;
  margin-right: 0.5rem;
}
.searchpg{
  margin-left: 350px;
}
.searchpginp{
  width: 70%;
  height: 30px;
  text-align: center;
}
.srchpgalluser{
  margin-top: 200px;
}
.srcheachuser{
  width: 25%;
  margin-left: 1.25rem;
}
.srchuserprofile{
  margin-left: 380px;
}
.searchuserprofileinfo{
  width: 75%;
  height: 150px;
}
.htline{
  color: white;
  margin-left: -50px;
}
.htline2{
  color: white;
  margin-left: 100px;
}
.srchuserpgposthead{
  margin-left: -110px;
}
.frndspgcontent{
  margin-left: 350px;
}
.friendlist{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 150px;
  width: 85%;
  margin-left: 0px;
}
.eachfrnd{
  width: 32%;
}
.personalprofilecontent{
  margin-left: 450px;
}
.personalprofiledetails{
  height: 100px;
}
.nameusrpassprofile{
  width: 75%;
}
.editprofilebtn{
  margin-left: 13%;
  width: 50%;
}
.postprofhead{
  margin-left: -140px;
}
.phead{
  margin-left: -80px;
}
.postimageownprof{
  width: 25%;
  height: 280px;
  margin-left: 50px;
  margin-right: 5px;
}

.updateprofilebdy{
  margin-left: 380px;
}
.updateprofile{
  width: 75%;
}
.upthead{
  width: 75%;
}

.nameinp{
  width: 50%;
}
.uptbtn{
  width: 25%;
}
.modallength{
  height: 700px;
  width: 100%;
  
}
.mdlbdy{
  height: 90vh;
  width: 100%;
  padding-top: 15px;
}
.favimg2{
  display: none;
}
#favcomment{
  margin-top: 1.5rem;
}
.reschat{
  display: none;
}
.dashbody{
  margin-left: 20%;
}
#postbtn{
  width: 50%;
}
.fno{
  display: none;
}
.repoimg{
  height: 450px;
}
.analysis{
  width: 75%;
  margin-left: 18%;

}
.navadmin{
  display: none;
}
@media only screen and (max-width: 500px) {
  
  .navleftbar{
    display: none;
  }
  .homepost{
    margin-left: 0px;
    width: 100%;
    background-color: black;
  }
  .adfrnd{
    display: none;
  }
  .cardstyle{
    width: 100%;
  }
  .navbarhome{
    display: block;
    border-bottom: 1px solid white;
    background-color: black;
    width: 100%;
    
  }
  .navbarhomesrchpg{
    display: block;
    border-bottom: 1px solid white;
    background-color: black;
    width: 100%;
    
  }
  .fullbody{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .favouritepage{
    margin-left: 0px;
  }
  .userinfobookmaark{
    width: 100%;
  }
  .postfavpage{
    margin-left: 0px;
    text-align: center;
  }
  .post{
    margin-left: 0px;
  }
  .navbtm{
    display: block;
  }
  .favhead{
    margin-left: 0px;
  }
  .favimg{
    width: 33%;
    height: 200px;
    margin: 0px;
  }
  .bkmrkprofile{
    overflow-x: visible;
  }
  .searchpg{
    margin-left: 0px;
  }
  .srch{
    position: fixed;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    z-index: 45;
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  .searchpginp{
    width: 90%;
  }
  .srchpgalluser{
    margin-top: 120px;
    justify-content: center;
  }
  .srcheachuser{
    width: 80%;
    margin-right: 0px;
    padding: 5px;
    
  }
  .fullsearchbdy{
    position: relative;
  }
  .srchuserprofile{
    margin-left: 0px;
  }
  .searchuserprofileinfo{
    width: 100%;
  }
  .Followerssrchuser{
    margin-top: 25px;
  }
  .followingsrchuser{
    margin-top: 25px;
  }
  .htline{
    margin-left: 0px;
  }
  .srchuserpgposthead{
    margin-left: 0px;
  }
  .htline2{
    margin-left: 0px;
  }
  .po1{
    width: 33%;
    margin-right: 0px;
  }
  .frndspgcontent{
    margin-left: 0px;
  }
  .friendlist{
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  .eachfrnd{
    width: 80%;
  }
  .brd1{
    display: none;
  }
  .personalprofilecontent{
    margin-left: 0px;
  }
  .personalprofiledetails{
    width: 100%;
  }
  .nameusrpassprofile{
    width: 100%;
  }
  .Followersprsnlprofile{
    margin-top: 20px;
  }
  .followingprsnlprofile{
    margin-top: 20px;
  }
  .editprofilebtn{
    width: 80%;
  }
  .postprofhead{
    margin-left: 0px;
  }
  .phead{
    margin-left: 0px;
  }
  .postimageownprof{
    width: 33%;
    height: 250px;
    margin-right: 0px;
  }
  .updateprofilebdy{
    margin-left: 0px;
    
  }
  .upthead{
    width: 100%;
  }
  .updateprofile{
    width: 100%;
  }
  .nameinp{
    width: 80%;
  }
  .uptbtn{
    width: 50%;
  }
  .imgmodal{
    display: none;
  }
  .modallength{
    height: 60vh;
  }
  .mdlbdy{
    height: 60vh;
  }
  .fullcomment{
    height: 250px;
  }
  .captionarea{
    height: 80px;
  }
  .favimg{
    display: none;
  }
  .favimg2{
    display: block;
    height: 200px;
  }
  #favcomment{
    margin-top: -1.5rem;
  }
  .post{
    margin-left: -35px;
  }
  .comments1{
    margin-top: -50px;
  }
  .reschat{
    display: block;
  }
  .adminnav{
    display: none;
  }
  .dashbody{
    margin-left: 0px;
    width: 100%;
  }
  .dno{
    display: none;
  }
  .fno{
    display: block;
  }
  .analysis{
    width: 100%;
    margin-left: 3px;
  }
  .navadmin{
    display: block;
  }
  .resadminside{
    margin-top: 200px;
  }
  .t1{
    margin-left: 40%;
    position: fixed;
  }
  .adminimg{
    height: 468px;
  }
  
}

.toogle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29'  stroke-linecap='round'  d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.likebtn{
  cursor: pointer;
}
.cmtbtn{
  cursor: pointer;
}
.favbtn{
  cursor: pointer;
}