*{
  /* background-image: url(https://media.istockphoto.com/id/1451792814/video/4k-black-luxury-background-with-golden-dynamic-spots-diagonal-stripes-shimmers-bokeh-dots.jpg?s=640x640&k=20&c=YlBTrEOII8zcXJnhkUNpy6BtUUb6iuR4N9N0224Zm1w=); */
  font-family: "Alegreya Sans", sans-serif;
  
}
.title{
  font-family: "Jacquard 24", system-ui;
}
.nav1{
  margin-top: 15%;
  font-size: 20px;
    cursor: pointer;

}
.navleft{
  border-right: 1px solid;
  line-height: 50px;
}
.navleft2{
  border-right: 1px solid;
  line-height: 50px;
}
.pic{
  padding-left: 10px;
}
.ic1{
  margin-right: 25px;
} 
.active{
  display: none;
}
.addp1{
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  background-color: rgba(62, 61, 61, 0.137);
  text-align: start;
}
.addp2{
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.snd{
  rotate: -45deg;
}
.cmt{
  /* margin: auto; */
  margin-left: 25px;
  color: white;
  border: none;
}
.cmt1{
  margin-top: 10px;
}
.icn2{
  margin-top: 35px;
}
.brd2{
  border: 1px solid white;
  padding: 15px;
}
.adfrnd{
  height: 100vh;
  margin-left: 71%;
  border-left: 1px solid;
  padding-left: 150px;
}
.frndlist{
  height: 500px;
  overflow-y: auto;
}
.frndlist::-webkit-scrollbar {
  display: none;
}
.btm{
  margin-top: 30%;
}
.box{
  border-radius: 20px;
}
.box2{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
.post{
  margin-left: -60px;
  cursor: pointer;
}
.mdl{
  margin-top: 50px;
  background-color: rgb(16, 16, 16);
  margin-left: 10%;
}
.cmttxt{
  margin-top: 64%;
}
.fullsearchbdy{
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
}
.users{
  overflow-y: auto;
}
.srch{
  position: fixed;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  z-index: 45;
  margin-top: -50px;
  margin-left: -75px;
  padding-left: 75px;
  padding-top: 80px;
}
.li1{
  text-decoration: none;
  color: white;
}
.logot{
  cursor: pointer;
}
.friendsp{
  margin-left: -150px;
}
.friendspage{
  overflow-x: hidden;
}
.profile{
  overflow-x: hidden;
}
.po1{
  overflow-y: hidden;
}
.li2{
  width: 100%;
  text-decoration: none;
  color: white;
  margin-bottom: 50px;
  margin-left: 15px;
}
.l10{
  width: 100%;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  margin-left: 15px;
}
.li3{
  margin-bottom: 50px;
  margin-left: 15px;
}
.nameu{
  line-height: 2px;
}
.btm2{
  margin-top: 5%;
}
.srch2{
  position: fixed;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  z-index: 45;
  margin-top: -100px;
  margin-left: -25px;
  padding-left: 15px;
  padding-top: 80px;
}
.cmt1{
  margin-left: -2px;
}
.msgpart{
  overflow-y: auto;
}
.active1{
  color:#ffffff;
}
.active2{
  color:#df1e1e;
}

.fullcomment{
  overflow-y: scroll;
}
.fullcomment::-webkit-scrollbar{
  display: none;
}
.p1:hover{
color: black;
}

